.trace {
	display: grid;
	grid-template-columns: min-content;
	grid-template-rows: min-content auto minmax(0, 1fr);
}

.commands {
	padding: .5em;
}

.events {
	display: flex;
	flex-direction: column;
	gap: .5em;
}

canvas {
	background-color: #181818;
}

.info {
	overflow: auto;
	padding: 1em;
	gap: 1em;
	display: flex;
	flex-direction: column;
}

h1 {
	padding: .3em;
	grid-column: 1 / -1;
}

.trace.full {
	grid-template-columns: min-content minmax(0, 1fr);
	grid-template-rows: min-content min-content minmax(0, 1fr);
	overflow: auto;
}

.full .commands {
	grid-row: 2;
}

.full canvas {
	grid-row: 3;
}

.full .info {
	grid-row: 2 / -1;
}

hint-content {
	display: none;
	position: fixed;
	padding: .5em;
	background-color: canvas;
	position-area: y-end;
}

hint-content ul {
	padding-inline-start: 2ch;
}

hint:hover > hint-content {
	display: block;
}