.page {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    grid-template-rows: auto minmax(0, 1fr);
}

.traces {
    grid-row: 2;
    overflow: auto;
    display: grid;
    align-items: start;
}

.trace-names, .has-error-options {
    display: flex;
    flex-direction: column;
    gap: .3em;
}

    .trace-names .trace-name-toggle {
        padding: .1em;
    }

    .trace-names a {
        text-decoration: none;
    }

        .trace-names a:hover {
            text-decoration: underline;
        }

    .trace-names .trace-name-toggle, .has-error-options label {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5em;
    }

    .trace-names .toggler {
        width: 1em;
        transform: scale(1.5);
    }
    
    .trace-names .count {
        font-size: .8em;
        flex-grow: 1;
        text-align: right;
    }

::deep .quickgrid {
    display: grid;
    grid-template-columns: min-content minmax(0, 1fr) min-content min-content min-content;
    gap: 3px;
}

    ::deep .quickgrid thead {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    ::deep .quickgrid thead, ::deep .quickgrid tr, ::deep .quickgrid tbody {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / -1;
    }

::deep th {
    font-weight: normal;
    background-color: #374151;
}

::deep td {
    overflow: hidden;
    padding: .3em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

::deep .quickgrid tbody tr {
    height: 28px;
}

    ::deep .quickgrid tbody tr:hover {
        background-color: #1c2831;
    }

    ::deep .quickgrid tbody tr:has(.trace-error-true) {
        background-color: #ff000057;
    }

        ::deep .quickgrid tbody tr:has(.trace-error-true):hover {
            background-color: #ff000080;
        }

::deep .quickgrid .col-header-content {
    padding: .7em;
}

::deep .quickgrid .col-title {
    gap: 1em;
}

::deep .quickgrid .col-options-button {
    cursor: pointer;
}

::deep .quickgrid[theme=dark] .col-options {
    background-color: black;
    max-height: 70vh;
    overflow: auto;
}
