.page {
	display: grid;
	grid-template-columns: minmax(0, 1fr) auto;
	grid-template-rows: auto minmax(0, 1fr);
}

.traces {
	grid-row: 2;
	overflow: auto;
	display: grid;
	align-items: start;
}

.trace-names, .has-error-options {
	display: flex;
	flex-direction: column;
	gap: .3em;
}

	.trace-names .trace-name-toggle, .has-error-options label {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: .5em;
	}

	.trace-names .count {
		font-size: .8em;
		flex-grow: 1;
		text-align: right;
	}
